<h2>Détail du Technicien {{model.matricule}}</h2>

<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <label class="form-control-label" for="nom">Nom</label>
      {{input type="text" value=model.nom classNames="form-control" id="nom"}}

      <label class="form-control-label" for="prenom">Prénom</label>
      {{input type="text" value=model.prenom class="form-control" id="prenom"}}

      <label class="form-control-label" for="matricule">Matricule</label>
      {{input type="text" value=model.matricule class="form-control" id="matricule"}}

      <label class="form-control-label" for="grade">Grade</label>
      {{input type="text" value=model.grade class="form-control" id="grade"}}

      <label class="form-control-label" for="manager">Manager</label>
      <div class="list-group">
          {{#link-to "managers.detail" model.manager.id classNames="list-group-item list-group-item-action"}}{{model.manager.prenom}} {{model.manager.nom}} <span class="badge pull-right">{{model.manager.matricule}}</span>{{/link-to}}
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <label class="form-control-label" for="nom">Salaire</label>
      <div class="input-group">
        {{input type="text" value=model.salaire class="form-control" id="salaire"}}
        <span class="input-group-addon">€</span>
      </div>
      <label class="form-control-label" for="primeAnnuelle">Prime Annuelle</label>
      <div class="input-group">
        {{input type="text" value=model.primeAnnuelle class="form-control" id="primeAnnuelle"}}
        <span class="input-group-addon">€</span>
      </div>

      <label class="form-control-label" for="dateEmbauche">Date d'embauche</label>
      {{input type="text" value=model.dateEmbaucheFormatee class="form-control" id="dateEmbauche"}}

      <label class="form-control-label" for="nbConges">Nombre de congés</label>
      {{input type="text" value=model.nbConges class="form-control" id="nbConges"}}

      <label class="form-control-label" for="nombreAnneeAnciennete">Nombre d'années d'ancienneté</label>
      {{input type="text" value=model.nombreAnneeAnciennete class="form-control" id="nombreAnneeAnciennete"}}
    </div>
  </div>
</div>
<div class="row">
  <button disabled="{{if model.hasDirtyAttributes "" "disabled"}}" class="btn btn-primary" {{action "save"}}>Enregistrer</button>
  <button class="btn btn-danger" {{action "delete"}}>Supprimer</button>

</div>