<h2>Détail du Commercial {{model.matricule}}</h2>

<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <label class="form-control-label" for="nom">Nom</label>
      {{input type="text" value=model.nom classNames="form-control" id="nom"}}

      <label class="form-control-label" for="prenom">Prénom</label>
      {{input type="text" value=model.prenom class="form-control" id="prenom"}}

      <label class="form-control-label" for="matricule">Matricule</label>
      {{input type="text" readonly=true value=model.matricule class="form-control" id="matricule"}}

      <label class="form-control-label" for="performance">Performance</label>
      {{input type="number" value=model.performance class="form-control" id="performance"}}

      <label class="form-control-label" for="caAnnuel">CA Annuel</label>
      <div class="input-group">
        {{input type="number" value=model.caAnnuel class="form-control" id="caAnnuel"}}
        <span class="input-group-addon">€</span>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <label class="form-control-label" for="nom">Salaire</label>
      <div class="input-group">
        {{input type="number" value=model.salaire class="form-control" id="salaire"}}
        <span class="input-group-addon">€</span>
      </div>
      <label class="form-control-label" for="primeAnnuelle">Prime Annuelle</label>
      <div class="input-group">
        {{input type="number" value=model.primeAnnuelle class="form-control" id="primeAnnuelle"}}
        <span class="input-group-addon">€</span>
      </div>

      <label class="form-control-label" for="dateEmbauche">Date d'embauche</label>
      {{input type="text" value=model.dateEmbaucheFormatee class="form-control" id="dateEmbauche"}}

      <label class="form-control-label" for="nbConges">Nombre de congés</label>
      {{input type="number" readonly=true value=model.nbConges class="form-control" id="nbConges"}}

      <label class="form-control-label" for="nombreAnneeAnciennete">Nombre d'années d'ancienneté</label>
      {{input type="number" readonly=true value=model.nombreAnneeAnciennete class="form-control" id="nombreAnneeAnciennete"}}
    </div>
  </div>
</div>
<div class="row">
  <button disabled="{{if model.hasDirtyAttributes "" "disabled"}}" class="btn btn-primary" {{action "save"}}>Enregistrer</button>
  <button class="btn btn-danger" {{action "delete"}}>Supprimer</button>
</div>
